name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Change directory to project root
        run: cd /home/runner/work/Lab-01-git/Lab-01-git

      - name: Build with Maven
        run: echo "Simulation build"

      - name: Run tests
        run: echo "Testing simulation "
